*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: pink;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background: rgb(30, 160, 130);
}

.two {
    background: rgb(020, 70, 70);
}

.three {
    background: rgb(60, 90, 170);
}

.four {
    background: maroon;
}
